nav{
    display: flex;
    justify-content: space-between;
    /* border: 0.2rem solid black; */
    background-image: url(./imgs/curtain_img.gif);
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.5);
    padding: 0rem 1rem;
}
.first_nav{
    display: flex;
    width: 20%;
    cursor: pointer;
}
.nav_img{
    width: 4.5rem;
    height: 4.5rem;
    padding-top: 5rem;

}
.pec{
    font-size: 3rem;
    color: gold;
    letter-spacing: 0.2rem;
    font-family: Ms Madi;
    /* border: 0.2rem solid black; */
    padding-top: 2rem;
}
.en{
    margin-top: -2rem;
}
.search_nav{
    padding-top: 5rem;
    width: 40%;
    margin-left: 5rem;
}

#search{
    padding: 1rem 3rem;
    border: gold;
    outline: 0.3rem gold;
    border-radius: 0.3rem;
}
#searchButton{
    border: none;
    color: gold;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    background-color: white;
    border-radius: 0.2rem;
}
#searchButton:hover{
    background-color: gold;
    color: white;
}
.second_nav{
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    width: 35%;
}
.home{
    color: gold;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about{
    color: black;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.bookings{
    color: black;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.log_in{
    background-color: gold;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    border-radius: 0.2rem;
    cursor: pointer;
}
.log_in:hover{
    background-color: goldenrod;
}
.sign_up{
    background-color: gold;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    border-radius: 0.2rem;
    cursor: pointer;
}
.sign_up:hover{
    background-color: goldenrod;
}
section{
    background-image: url(./imgs/chairs\ img.jpg);
    background-blend-mode: darken;
    padding-top: 3rem;
}
.now_showing{
    margin-left: 3rem;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gold;
}
#num{
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gold;
    margin-left: 2rem;
    display: none;
}
#sty{
    border-bottom: 0.2rem solid gold;
    /* margin-top: -1rem; */
    width: fit-content;
    height: fit-content;
}
.now_showing:hover{
    text-decoration: underline gold;
    cursor: pointer;
}
.box{
    margin: 1rem 2rem;
    padding: 1rem;
    width: 25%;
    height: fit-content;
    border-radius: 1rem;
}
.box:hover{
    box-shadow: -2px 1px 19px 11px rgba(201, 174, 23, 0.75);
}
#imag{
    width: 100%;
    height: 18rem;
}
#image{
    width: 100%;
    height: 10rem;
}
#date{
    border: 0.1rem solid gold;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 0.3rem 0.5rem;
}
#rank{
    border: 0.1rem solid gold;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 0.3rem;

}
#wat{
    border: 0.1rem solid gold;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
}
#tray{
    width: 100%;
    background-color: gold;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius: 0.4rem
}

#tray:hover{
    background-color: goldenrod;
}
#title{
    color: white;
    width: 100%;
    height: fit-content;
    margin: 0.5rem 0rem;
    text-align: center;
    align-items: center;
    font-weight: bold;

}
#show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}
footer{
    padding: 2rem 6rem;
    background-image: url(./imgs/fliter\ img.webp);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}
.first_last{
    width: 15%;
}
.follow{
    font-weight: bold;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
.last{
    display: flex;
    justify-content: space-between;
}
i{
    font-size: 1.5rem;
    cursor: pointer;
}
.blue{
    color: #4E9AE7;
}
.green{
    color:#61C962;
}
.pink{
    color: #D04061;
}
#aside{
    background-color: rgba(248, 224, 4, 0.4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    display: non;
}
#video{
    margin-top: 10rem;
    width: 40%;
    height: 300px;
}
#oro{
    color: white;
    margin-top: 10rem;
    width: 55%;
    height: fit-content;
    padding: 2rem;
    font-size: 1.5rem;
}
#shift{
    float: right;
    margin-top: -3rem;
    border: none;
    padding: 0rem 1rem;
    font-weight: bold;
    border-radius: 0.2rem;
}
#shift:hover{
    background-color: red;
    color: white;
    border: 0.1rem solid red;
}
#over{
    font-size: 1.8rem;
    color: goldenrod;
    font-weight: bolder;
}
